:root {
   --element-spacing: 1.5rem 
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--element-spacing);
} 

.left > * {
    margin-right: var(--element-spacing);
}

.right > * {
    margin-left: var(--element-spacing);
}

.buttonNav {
    background-color:black;
    color: white; 
    width: 90px;
    height: 40px;
}

.buttonLog {
    background-color:black;
    color: white; 
    width: 90px;
    height: 40px;
}