/* HomePage styling */

body {
    /* font-family: sans-serif; */
    background: #EEEEEE;
    text-align:  center;
}

#login-btn {
  margin-top: 50px;
  margin-right: 150px;
}

#signup-btn {
    margin-top: 50px;
    margin-left: 150px;
}

.main-icon {
    width: 300px;
}

.intro {
    margin-bottom: 50px;
    margin-top: 50px;
}

/* Footer styling */
#footer{
    position: fixed;
    background: #691292;
    color: rgb(209, 209, 47);
    margin-top: auto;
    height: 50px;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
}

/* SearchBar styling */
#search-bar {
    text-align: center;
    display: inline-block;
}
 
#near {
    font-size: 20px;
}

.input-group-append {
    background-color: black;
    color: white;
}

/* AllGyms styling */
#nav-bar {
    background-color: #B5B5B5;
    margin-bottom: 35px;
    display: flex;
}

.gyms {
    display: flex;
    margin-bottom: 35px;
    justify-content: space-evenly;
}

.gym-pic {
    width: 300px;
    height: 300px
}
.gym-notes {
    flex-direction: column;
}

.card {
    width: 600px;
    height: 250px;
}

.body {
    text-align: left;
    width: 400px;
}
