.nav-bar {
    display:flex;
    background: grey;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 100px;
    margin-right: 1rem ;
}

:global(.button).nav-button {
    margin-left: 1rem;
}